.input {
    width: 331px;
    height: 51px;
    border-radius: 30px;
    border: 3px;
    background: #D9D9D9;
    border: 3px solid #2A2A2A
}

.xzz{
    margin: 100px 370px;
}

.btn {
    width: 112px;
    height: 51px;
    border-radius: 30px;
    background: #2A2A2A;
    border: 1px solid #2A2A2A;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: center;
    color: #fff;
}

.wrapper {
    width: 478px;
    height: 134px;
    border-radius: 32px;
    opacity: 0.2px;
    background: #2A2A2A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 83px;
    margin-top: 55px;
}

.btn2 {
    width: 80px;
    height: 80px;
    font-size: 50px;
    color: #ffffff80;
    background: #2A2A2A;
}

:active.btn2{
    background: yellow;
    color: #ffffff;
}

.text {
    font-size: 72px;
    font-weight: 500;
    line-height: 87.14px;
    text-align: center;
}

.text2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 58.09px;
    text-align: center;
    color: #fff;
    margin-top: 43px;
}

.xz{
    margin-left: 27px;
    margin-top: 50px;
}